<div class="reset-password-container">
  <app-header-login></app-header-login>

  <div class="reset-password-card">

    <div *ngIf="errorMessage && !validCode" class="error-message-card">
      <h2>Fehler</h2>
      <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="validCode && !isSubmitted">
      <h1 class="reset-password-title">
        {{ "RESET_PASSWORD.TITLE" | translate }}
      </h1>

      <form
        (ngSubmit)="onSubmit()"
        #resetPasswordForm="ngForm"
        class="reset-password-form"
      >
        <div class="input-group">
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="newPassword"
            (ngModelChange)="checkPasswordsMatch()"
            required
            [placeholder]="'RESET_PASSWORD.NEW_PASSWORD' | translate"
            class="form-input"
          />
        </div>

        <div class="input-group">
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            (ngModelChange)="checkPasswordsMatch()"
            required
            [placeholder]="'RESET_PASSWORD.CONFIRM_PASSWORD' | translate"
            class="form-input"
          />
        </div>

        <div
          class="error-message"
          [class.is-hidden]="!errorMessage && (passwordsMatch || !confirmPassword)"
        >
          {{
            errorMessage ||
              (!passwordsMatch && confirmPassword
                ? ("RESET_PASSWORD.PASSWORDS_NOT_MATCH" | translate)
                : "")
          }}
        </div>

        <button
          type="submit"
          [disabled]="!resetPasswordForm.valid || !passwordsMatch || loading"
          class="primary-button"
        >
          {{
            loading
              ? "Wird gespeichert..."
              : ("RESET_PASSWORD.CHANGE_PASSWORD" | translate)
          }}
        </button>
      </form>
    </div>

    <div *ngIf="isSubmitted" class="success-message">
      <div class="success-icon">
        <svg
          width="64"
          height="64"
          viewBox="0 0 64 64"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle cx="32" cy="32" r="32" fill="#444DF2" fill-opacity="0.1" />
          <path
            d="M20 32L28 40L44 24"
            stroke="#444DF2"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <h2 class="success-title">
        {{ "RESET_PASSWORD.SUCCESS_TITLE" | translate }}
      </h2>
      <p class="success-text">
        {{ "RESET_PASSWORD.SUCCESS_TEXT" | translate }}
        <br /><br />
        {{ "RESET_PASSWORD.REDIRECT_TEXT" | translate }}
      </p>
    </div>
  </div>

</div>
